<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LMS - Book details</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <div>
        <h1 style="justify-self: center">Book Details</h1>
        <article>
            <h2>Title : <span></span></h2><br>
            <h3>Author : <span></span></h3><br>
            <h3>Description : <span></span></h3>
        </article>
    </div>
</body>
</html>