<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LMS - Homepage</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    >
</head>
<body>
    <div style="text-align: center; justify-content: center">
        <div style="justify-self: center; background-color: darkolivegreen; padding-bottom: 50px; width: 75%;">
            <h1 style="color: green; padding: 10px; border: 1px solid black; background-color: yellowgreen;">Welcome to the Library!</h1>
            <div style="justify-items: center;">
                <a href="/books" style="color: lawngreen;">View all products</a>
                <a href="/books/add" style="color: lawngreen; padding: 30px">Add a product</a>
                <a href="/books/update" style="color: lawngreen">Update a product</a>
            </div>
        </div>
    </div>
</body>
</html>